body{
  overflow-x: hidden;
  overflow-y: hidden;
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
}
.wrap{
  display:block;
  justify-content: center;
  width:auto;
}


.text{
  position:absolute;
  /* margin-top: 15%; */
  width: 100px;
  /* border-radius:20px; */
}
.text img{
  width:100px;
}
