body{
  overflow-x: hidden;
  overflow-y: hidden;
  height:auto;
  width:100%;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes fontchange
{
  0%   {width:0px;height:80px}
  50%  {width:300px;height:80px}
  100% {width:0px;height:80px}
}
/* .wrap{
  display:flex;
  text-align: center;
  width:auto;
} */
/* .text{
  height:80px;

} */
img{
  height:80px;
  width:80px;
}
#yi{
  -webkit-animation: fontchange 3s infinite;
  /* height:8px; */
}
