body{
  overflow-x: hidden;
  overflow-y: hidden;
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
}
.wrap{
  display:flex;
  justify-content: center;
  width:auto;
}

.text{
  position:absolute;
  /* margin-top: 15%; */
  width: 100px;
  /* border-radius:20px; */
}
.text img{
  width:100px;
  display: block;
}


/* .button{
  z-index: 1000;
  margin-left: 32%;
  margin-top: 10%;
  position: absolute;
} */
/* #dot{
  /* position: fixed; */
  /* width: 150px;
} */
/* #ling{
  margin-top: 150%;
  margin-left: -70%;
}
#zhong{
  margin-top: 300%;
  margin-left: 70%;
}
#she{
  margin-top: 415%;
  margin-left: 10%;
}
#ji{
  margin-top: 410%;
  margin-left: 120%;
} */
