body{
  overflow-x: hidden;
  overflow-y: hidden;
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
}
#div1{
    height: 100%;
}
#ling2{
    position:absolute;
    width:100px;
}
/* .wrap{
  display:flex;
  justify-content: center;
  width:auto;
}

.text{
  position:absolute;
  width: 100px;
} */
/* .text img{
  width:100px;
  display: block;
} */


/* #ling{
  margin-top: 150%;
  margin-left: -70%;
}
#zhong{
  margin-top: 300%;
  margin-left: 70%;
}
#she{
  margin-top: 415%;
  margin-left: 10%;
}
#ji{
  margin-top: 410%;
  margin-left: 120%;
} */
